<h2>{{ translate("nutrition.constraints") }}</h2>
<table class="table table-bordered table-striped" id="constraint-table">
    <thead class="table-dark">
        <tr>
            <th scope="col">{{ translate("nutrition.min_max") }}</th>
            <th scope="col">{{ translate("nutrition.nutrient") }}</th>
            <th scope="col">{{ translate("nutrition.unit") }}</th>
            <th scope="col">{{ translate("nutrition.value") }}</th>
            <th scope="col">{{ translate("nutrition.actions") }}</th>
        </tr>
    </thead>
    <tbody id="constraint-inputs">
        <tr>
            <td>
                <select class="form-select" name="constraint-min-max">
                    <option value="min">{{ translate("nutrition.minimum") }}</option>
                    <option value="max">{{ translate("nutrition.maximum") }}</option>
                </select>
            </td>
            <td>
                <select class="form-select" name="constraint-nutrient">
                    {% for nutrient in nutrient_definitions %}
                        <option value="{{ nutrient.key }}">{{ nutrient.name }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="form-select" name="constraint-unit" disabled>
                    <option value="energy">kcal</option>
                </select>
            </td>
            <td>
                <input type="number"
                       class="form-control"
                       name="constraint-value"
                       min="0"
                       step="any"
                       required />
            </td>
            <td>
                <div class="d-flex gap-2">
                    <button type="button"
                            class="btn btn-sm btn-outline-primary"
                            data-add-constraint-row>+</button>
                    <button type="button"
                            class="btn btn-sm btn-outline-danger"
                            data-remove-constraint-row
                            disabled>×</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<template id="constraint-template">
    <tr>
        <td>
            <select class="form-select" name="constraint-min-max">
                <option value="min">{{ translate("nutrition.minimum") }}</option>
                <option value="max">{{ translate("nutrition.maximum") }}</option>
            </select>
        </td>
        <td>
            <select class="form-select" name="constraint-nutrient">
                {% for nutrient in nutrient_definitions %}
                    <option value="{{ nutrient.key }}">{{ nutrient.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select class="form-select" name="constraint-unit" disabled>
                <option value="energy">kcal</option>
            </select>
        </td>
        <td>
            <input type="number"
                   class="form-control"
                   name="constraint-value"
                   min="0"
                   step="any"
                   required />
        </td>
        <td>
            <div class="d-flex gap-2">
                <button type="button"
                        class="btn btn-sm btn-outline-primary"
                        data-add-constraint-row>+</button>
                <button type="button"
                        class="btn btn-sm btn-outline-danger"
                        data-remove-constraint-row>×</button>
            </div>
        </td>
    </tr>
</template>

<template id="unit-options-energy">
    <option value="energy">kcal</option>
</template>

<template id="unit-options-amount-pfc-ratio">
    <option value="amount">g</option>
    <option value="pfc_ratio">%</option>
</template>
