<h2>{{ translate('nutrition.constraints') }}</h2>
<table class="table table-bordered table-striped" id="constraint-table">
    <thead class="table-dark">
        <tr>
            <th scope="col">{{ translate('nutrition.min_max') }}</th>
            <th scope="col">{{ translate('nutrition.nutrient') }}</th>
            <th scope="col">{{ translate('nutrition.unit') }}</th>
            <th scope="col">{{ translate('nutrition.value') }}</th>
            <th scope="col">{{ translate('nutrition.actions') }}</th>
        </tr>
    </thead>
    <tbody id="constraint-inputs">
        <tr>
            <td>
                <select class="form-select" name="constraint-min-max">
                    <option value="min">{{ translate('nutrition.minimum') }}</option>
                    <option value="max">{{ translate('nutrition.maximum') }}</option>
                </select>
            </td>
            <td>
                <select class="form-select" name="constraint-nutrient">
                    <option value="energy">{{ translate('nutrition.energy') }}</option>
                    <option value="protein">{{ translate('nutrition.protein') }}</option>
                    <option value="fat">{{ translate('nutrition.fat') }}</option>
                    <option value="carbohydrates">{{ translate('nutrition.carbohydrates') }}</option>
                </select>
            </td>
            <td>
                <select class="form-select" name="constraint-unit" disabled>
                    <option value="energy">kcal</option>
                </select>
            </td>
            <td>
                <input type="number"
                       class="form-control"
                       name="constraint-value"
                       min="0"
                       step="any"
                       required />
            </td>
            <td class="no-action"></td>
        </tr>
    </tbody>
</table>

<button type="button" id="add-constraint" class="btn btn-outline-primary">
    {{ translate('nutrition.add_constraint') }}
</button>

<template id="constraint-template">
    <tr>
        <td>
            <select class="form-select" name="constraint-min-max">
                <option value="min">{{ translate('nutrition.minimum') }}</option>
                <option value="max">{{ translate('nutrition.maximum') }}</option>
            </select>
        </td>
        <td>
            <select class="form-select" name="constraint-nutrient">
                <option value="energy">{{ translate('nutrition.energy') }}</option>
                <option value="protein">{{ translate('nutrition.protein') }}</option>
                <option value="fat">{{ translate('nutrition.fat') }}</option>
                <option value="carbohydrates">{{ translate('nutrition.carbohydrates') }}</option>
            </select>
        </td>
        <td>
            <select class="form-select" name="constraint-unit" disabled>
                <option value="energy">kcal</option>
            </select>
        </td>
        <td>
            <input type="number"
                   class="form-control"
                   name="constraint-value"
                   min="0"
                   step="any"
                   required />
        </td>
        <td>
            <button type="button" class="btn btn-outline-danger">{{ translate('nutrition.remove') }}</button>
        </td>
    </tr>
</template>

<template id="unit-options-energy">
    <option value="energy">kcal</option>
</template>

<template id="unit-options-amount-ratio">
    <option value="amount">g</option>
    <option value="ratio">%</option>
</template>

