<h2>{{ translate('nutrition.food_information') }}</h2>
<table class="table table-bordered table-striped" id="food-table">
    <thead class="table-dark">
        <tr>
            <th scope="col">{{ translate('nutrition.food_name') }}</th>
            <th scope="col">{{ translate('nutrition.energy_per_100g') }}</th>
            <th scope="col">{{ translate('nutrition.protein_per_100g') }}</th>
            <th scope="col">{{ translate('nutrition.fat_per_100g') }}</th>
            <th scope="col">{{ translate('nutrition.carbohydrates_per_100g') }}</th>
            <th scope="col">{{ translate('nutrition.grams_per_unit') }}</th>
            <th scope="col">{{ translate('nutrition.minimum_intake') }}</th>
            <th scope="col">{{ translate('nutrition.maximum_intake') }}</th>
            <th scope="col">{{ translate('nutrition.actions') }}</th>
        </tr>
    </thead>
    <tbody id="food-inputs">
        <tr>
            <td>
                <input type="text" class="form-control" name="food-name" required />
            </td>
            <td>
                <input type="number"
                       class="form-control"
                       name="food-energy"
                       min="0"
                       step="any"
                       required />
            </td>
            <td>
                <input type="number"
                       class="form-control"
                       name="food-protein"
                       min="0"
                       step="any"
                       required />
            </td>
            <td>
                <input type="number"
                       class="form-control"
                       name="food-fat"
                       min="0"
                       step="any"
                       required />
            </td>
            <td>
                <input type="number"
                       class="form-control"
                       name="food-carbohydrates"
                       min="0"
                       step="any"
                       required />
            </td>
            <td>
                <input type="number"
                       class="form-control"
                       name="food-grams-per-unit"
                       min="1"
                       required />
            </td>
            <td>
                <input type="number"
                       class="form-control"
                       name="food-minimum-intake"
                       min="0"
                       required />
            </td>
            <td>
                <input type="number"
                       class="form-control"
                       name="food-maximum-intake"
                       min="0"
                       required />
            </td>
            <td class="no-action"></td>
        </tr>
    </tbody>
</table>

<button type="button" id="add-food" class="btn btn-outline-primary">
    {{ translate('nutrition.add_food') }}
</button>

<template id="food-template">
    <tr>
        <td>
            <input type="text" class="form-control" name="food-name" required />
        </td>
        <td>
            <input type="number"
                   class="form-control"
                   name="food-energy"
                   min="0"
                   step="any"
                   required />
        </td>
        <td>
            <input type="number"
                   class="form-control"
                   name="food-protein"
                   min="0"
                   step="any"
                   required />
        </td>
        <td>
            <input type="number"
                   class="form-control"
                   name="food-fat"
                   min="0"
                   step="any"
                   required />
        </td>
        <td>
            <input type="number"
                   class="form-control"
                   name="food-carbohydrates"
                   min="0"
                   step="any"
                   required />
        </td>
        <td>
            <input type="number"
                   class="form-control"
                   name="food-grams-per-unit"
                   min="1"
                   required />
        </td>
        <td>
            <input type="number"
                   class="form-control"
                   name="food-minimum-intake"
                   min="0"
                   required />
        </td>
        <td>
            <input type="number"
                   class="form-control"
                   name="food-maximum-intake"
                   min="0"
                   required />
        </td>
        <td>
            <button type="button" class="btn btn-outline-danger">{{ translate('nutrition.remove') }}</button>
        </td>
    </tr>
</template>
