<h2>{{ translate("nutrition.objective") }}</h2>
<table class="table table-bordered table-striped" id="objective-table">
    <thead class="table-dark">
        <tr>
            <th scope="col">{{ translate("nutrition.sense") }}</th>
            <th scope="col">{{ translate("nutrition.nutrient") }}</th>
        </tr>
    </thead>
    <tbody id="objective-input">
        <tr>
            <td>
                <select class="form-select" name="objective-sense">
                    <option value="minimize">{{ translate("nutrition.minimize") }}</option>
                    <option value="maximize" selected>{{ translate("nutrition.maximize") }}</option>
                </select>
            </td>
            <td>
                <select class="form-select" name="objective-nutrient">
                    {% for nutrient in nutrient_definitions %}
                        <option value="{{ nutrient.key }}">{{ nutrient.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </tbody>
</table>
