#duration-label {
  display: inline-block;
  margin-right: 10px;
}

#duration-dropdown {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}

#graph-overlay-container {
  position: relative;
}

#no-data-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  border-radius: 5px;
  color: red;
  display: none;
}