header, footer {
  background-color: navy;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header h1, footer div {
  margin: 0;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: lightgray;
}

nav {
  display: flex;
  gap: 10px;
}

label {
  display: inline-block;
}
