<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Flash of Unstyled Contents 対策のため、color-modes.js は head 内で読み込む。 -->
    <script src="{{ url_for('static', filename='color-modes.js') }}"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <!-- color-modes.css は bootstrap の後に読み込まないと正常に反映されない。 -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='color-modes.css') }}"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
      defer
    ></script>
  </head>

  <body>
    {% include '_header.html' %}

    <!-- メインコンテンツ領域 -->
    <main class="container">
      <!-- フラッシュメッセージの表示 -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}

      <!-- 各ページでのメインコンテンツ -->
      {% block content %} {% endblock %}
    </main>

    <!-- カラーモード対応用HTML読み込み -->
    {% include '_color_modes.html' %}

    <!-- <footer class="bg-dark text-light text-center py-3">
      <div>&copy; 2023 Homomo</div>
    </footer> -->


  </body>
</html>
