{{ form.hidden_tag() }}

{% for field in form %}
  {% if field.type not in ["CSRFTokenField", "SubmitField"] %}
    <div class="row">
      <div class="col-6">
        <div class="form-floating mb-3">
          {{ field() }}
          <label for="{{ field.id }}">{{ field.label }}</label>
        </div>

        {% if field.errors %}
          <div class="text-danger">
            {% for error in field.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endfor %}

<div class="mb-3">
  {{ form.submit() }}
</div>