<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Diet</h1>
      <nav>
        <a href="{{ url_for('main.index') }}">ホーム</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.log_weight') }}">体重記録</a>
        <a href="#">筋トレ記録</a>
        <a href="#">称号</a>
        <a href="{{ url_for('main.logout') }}">ログアウト</a>
        {% else %}
        <a href="{{ url_for('main.signup') }}">新規利用者登録(無料)</a>
        <a href="{{ url_for('main.signin') }}">ログイン</a>
        {% endif %}
      </nav>
    </header>
    <main>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flash-messages">
        {% for message in messages %}
        <li class="flash-message">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}{% block content %}{% endblock %}
    </main>
    <footer>
      <p>&copy; 2023 Homomo</p>
    </footer>
  </body>
</html>
