<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Flash of Unstyled Contents 対策のため、color-modes.js は head 内で読み込む。 -->
    <script src="{{ url_for('static', filename='color-modes.js') }}"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <!-- color-modes.css は bootstrap の後に読み込まないと正常に反映されない。 -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='color-modes.css') }}"
    />
  </head>

  <body>
    <header class="navbar navbar-expand-md bg-primary">
      <!-- アプリタイトル -->
      <a class="navbar-brand" href="{{ url_for('main.index') }}">Diet</a>

      <!-- メニュー用トグルボタン -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- ナビゲーションメニュー -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link px-2" href="{{ url_for('main.index') }}"
              >ホーム</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-2"
              href="{{ url_for('main.log_body_composition') }}"
              >体重記録</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link px-2" href="#">筋トレ記録</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2" href="#">称号</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2" href="{{ url_for('main.logout') }}"
              >ログアウト</a
            >
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link px-2" href="{{ url_for('main.signup') }}"
              >新規利用者登録(無料)</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link px-2" href="{{ url_for('main.signin') }}"
              >ログイン</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </header>

    <!-- メインコンテンツ領域 -->
    <main class="container">
      <!-- フラッシュメッセージの表示 -->
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}{% if form and form.errors %}

      <!-- フォームエラーメッセージの表示 -->
      <div class="form-errors">
        {% for field_name, errors in form.errors.items() %} {% for error in
        errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %} {% endfor %}
      </div>
      {% endif %}

      <!-- 各ページでのメインコンテンツ -->
      {% block content %} {% endblock %}
    </main>

    <!-- カラーモード対応用HTML読み込み -->
    {% include 'color_modes.html' %}

    <footer class="bg-dark text-light text-center py-3">
      <div>&copy; 2023 Homomo</div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
