{% extends 'base.html' %} {% block title %} Diet App {% endblock %} {% block
content %} {% if not current_user.is_authenticated %}
<p>サンプルデータを表示しています。</p>
{% endif %}

<div class="row align-items-center">
  <div class="col-auto">
    <label for="duration-dropdown" class="form-label">データ表示期間</label>
  </div>
  <div class="col-auto">
    <select class="form-select" id="duration-dropdown">
      <option value="7">1週間</option>
      <option value="30" selected>1か月</option>
      <option value="90">3か月</option>
      <option value="180">半年</option>
      <option value="365">1年</option>
      <option value="all">全期間</option>
    </select>
  </div>
</div>

<canvas id="bodyCompositionGraph"></canvas>

<br />

<table
  id="body-composition-table"
  class="table table-striped table-bordered table-hover"
></table>
{% endblock %}
