{% extends 'base.html' %} {% block title %} ログイン - Diet App {% endblock %}
{% block content %}

<h1>ログイン</h1>

<form method="POST" action="/signin">
  {{ form.hidden_tag() }}

  <!-- ユーザー名とパスワード入力欄 -->
  {% for field in [form.username, form.password] %}
  <div class="row">
    <div class="col-6">
      <div class="form-floating mb-3">
        {{ field(class="form-control", id=field.id) }}
        <label for="{{ field.id }}">{{ field.label.text }}</label>
      </div>
    </div>
  </div>
  {% endfor %}

  <!-- ログインボタン -->
  <div class="mb-3">{{ form.submit(class="btn btn-primary") }}</div>
</form>

<p>
  アカウントをお持ちでない方は、<a href="{{ url_for('main.signup') }}">こちら</a
  >から新規作成してください。
</p>

{% endblock %}
