{% extends 'base.html' %} {% block title %} 新規登録 - Diet App {% endblock %}
{% block content %}

<h1>新規登録</h1>

<form method="POST" action="/signup">
  {{ form.hidden_tag() }}

  <!-- ユーザー名、Eメール、パスワード、パスワード(確認用)、日付、体重と体脂肪率の入力欄 -->
  {% for field in [form.username, form.email, form.password,
  form.confirm_password, form.date, form.weight, form.body_fat] %}
  <div class="row">
    <div class="col-6">
      <div class="form-floating mb-3">
        {{ field(class="form-control", id=field.id) }}
        <label for="{{ field.id }}">{{ field.label.text }}</label>
      </div>
    </div>
  </div>
  {% endfor %}

  <!-- 登録ボタン -->
  <div class="mb-3">{{ form.submit(class="btn btn-primary") }}</div>
</form>

<p>
  アカウントをお持ちの方は、<a href="{{ url_for('main.signin') }}">こちら</a
  >からログインしてください。
</p>

{% endblock %}
