{% extends "_base.html" %}

{% block title %}
    {{ translate('auth.sign_up.title') }} - {{ translate('app.title') }}
{% endblock title %}

{% block content %}
    <h1>{{ translate('auth.sign_up.title') }}</h1>

    <form method="post" action="{{ url_for('auth.signup') }}">
        {% include "_form_fields.html" %}
    </form>

    <p>
        {{ translate('auth.already_member') }} <a href="{{ url_for('auth.signin') }}">{{ translate('auth.sign_in.title') }}</a>
    </p>
{% endblock content %}

