<header class="navbar navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">{{ translate("app.name") }}</a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link px-2" href="{{ url_for('main.index') }}">{{ translate("nav.home") }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2"
                           href="{{ url_for('nutrition_optimizer.index') }}">{{ translate("nav.nutrition_optimizer") }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2"
                           href="{{ url_for('body_composition.record_body_composition') }}">{{ translate("nav.record_body_composition") }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2" href="{{ url_for('auth.account_menu') }}">{{ translate("nav.account") }}</a>
                    </li>
                    <li class="nav-item">
                        <form method="post" action="{{ url_for('auth.signout') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <button class="nav-link border-0 bg-transparent px-2" type="submit">{{ translate("nav.sign_out") }}</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link px-2"
                           href="{{ url_for('nutrition_optimizer.index') }}">{{ translate("nav.nutrition_optimizer") }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2" href="{{ url_for('auth.signup') }}">{{ translate("nav.sign_up") }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2" href="{{ url_for('auth.signin') }}">{{ translate("nav.sign_in") }}</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-2"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown">
                        {{ translate("nav.language") }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item{% if current_locale() == 'ja' %} active{% endif %}"
                               href="{{ localized_url('ja') }}">{{ translate("language.japanese") }}</a>
                        </li>
                        <li>
                            <a class="dropdown-item{% if current_locale() == 'en' %} active{% endif %}"
                               href="{{ localized_url('en') }}">{{ translate("language.english") }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
