{% extends "_base.html" %}

{% block title %}
    {{ translate('app.title') }}
{% endblock title %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script type="module" src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock extra_js %}

{% block content %}
    <div id="body-composition-dashboard"
         data-api-endpoint="{{ url_for('body_composition.get_body_composition_data') }}">
        <div class="row mb-3">
            <div class="col-6">
                <div class="form-floating">
                    <select class="form-select" id="granularity-dropdown"></select>
                    <label for="granularity-dropdown">{{ translate('dashboard.granularity') }}</label>
                </div>
            </div>

            <div class="col-6">
                <div class="form-floating">
                    <select class="form-select" id="duration-dropdown"></select>
                    <label for="duration-dropdown">{{ translate('dashboard.duration') }}</label>
                </div>
            </div>
        </div>

        <canvas id="bodyCompositionGraph" class="mb-4"></canvas>

        <table id="body-composition-table"
               class="table table-striped table-bordered table-hover">
        </table>
    </div>
{% endblock content %}

